@charset "UTF-8";
/*-----------------------------------------------------------------*
共通で使用するレイアウトのCSSを定義します。
-----------------------------------------------------------------*/
/*-----------------------------------------------------------------
  common
*/
html,body{width: 100%;}
body {font-family:'Hiragino Kaku Gothic ProN', Meiryo, sans-serif; color: #555;font-size: 14px;line-height: 1;}
ul,ol {list-style: none;}
img{vertical-align:bottom;}

/*
a,._a{color: #0056ae;text-decoration: underline;}
a:visited,._a:visited{color: #3f4dbc;cursor: pointer;}
a:active,._a:active{color: #59a2ee;cursor: pointer;}
a:hover,._a:hover{color: #59a2ee;cursor: pointer;}
*/

a img:hover,._a img:hover{opacity: 0.7;}
sup{font-size: 80%;vertical-align: top;}

.clear {clear: both;}
.clearfix {min-height:1px}
.clearfix:after {content:".";display:block;clear:both;height:0;visibility:hidden;}

/*-----------------------------------------------------------------
  header
*/
#header {width:100%; height:179px; margin:0; padding:0; position: relative; box-sizing: border-box;}
#header .inner{width:1000px; margin: 0 auto;}
#header .bar-f{background:#333; height:26px; line-height:26px; font-size:14px; color:#fff;}
#header .bar-f .catch{float:left;}
#header .bar-f .beginer{float:right; display:none;}
#header .bar-f .beginer a{color:#fff; background: url(../images/icon-beginer.png) 0 50% no-repeat; padding:0 0 0 28px; text-decoration:none;}
#header .bar-f .beginer a:hover{opacity:0.7;}
#header .bar-s {background:#f0f0f0; height:94px; font-size:18px; color:#ddd;}
#header .bar-s .inner{position:relative;}
#header .bar-s .logo{padding:17px 0;}
#header .bar-s .search{}
#header .bar-s .keyword {position: absolute; top: 27px; _top:28px; left: 710px; width:228px; height:18px; background: #fff; border: none; padding:11px; color:#333; font-size:18px;}
#header .bar-s .keyword:placeholder-shown{color:#d6d6d6; font-weight: normal;}
#header .bar-s .keyword::-webkit-input-placeholder{color:#d6d6d6; font-weight: normal;}
#header .bar-s .keyword:-moz-placeholder{color:#d6d6d6; font-weight: normal;}
#header .bar-s .keyword::-moz-placeholder{color:#d6d6d6; font-weight: normal;}
#header .bar-s .keyword:-ms-input-placeholder{color:#d6d6d6; font-weight: normal;}
#header .bar-s .btn-search {position: absolute; top: 27px; _top:28px; left: 960px; height:40px; width:40px; background: url(../images/icon-search.png) #e40c7d 50% 50% no-repeat; background-size:22px 22px; border:none; text-indent:-9999px;}
#header .bar-s  *:first-child + html input.search{top:28px;}
#header .gnav{background:#fff; border-bottom:8px #333 solid; height:52px; line-height:52px;}
#header .gnav ul{width:1000px; margin: 0 auto;}
#header .gnav li{width:250px; float:left; font-size:18px; margin:0; padding:0; text-align:center;}
#header .gnav li:hover,
#header .gnav.nav1 li#nav1,
#header .gnav.nav2 li#nav2,
#header .gnav.nav3 li#nav3,
#header .gnav.nav4 li#nav4{background:#383838; border-bottom:8px #575757 solid;}
#header .gnav li a{width:250px; display:inline-block; color:#000;text-decoration: none; margin:0; padding:0;}
#header .gnav li a:hover,
#header .gnav.nav1 li#nav1 a,
#header .gnav.nav2 li#nav2 a,
#header .gnav.nav3 li#nav3 a,
#header .gnav.nav4 li#nav4 a{color:#fff;text-decoration: none;}
#header .gnav li#nav1 a span{background: url(../images/icon-new.png) 0 50% no-repeat; padding-left:40px;}
#header .gnav li#nav1 a:hover span,
#header .gnav.nav1 li#nav1 a span{background: url(../images/icon-new_w.png) 0 50% no-repeat; padding-left:40px;}
#header .gnav li#nav2 a span{background: url(../images/icon-update.png) 0 50% no-repeat; padding-left:40px;}
#header .gnav li#nav2 a:hover span,
#header .gnav.nav2 li#nav2 a span{background: url(../images/icon-update_w.png) 0 50% no-repeat; padding-left:40px;}
#header .gnav li#nav3 a span{background: url(../images/icon-category.png) 0 50% no-repeat; padding-left:40px;}
#header .gnav li#nav3 a:hover span,
#header .gnav.nav3 li#nav3 a span{background: url(../images/icon-category_w.png) 0 50% no-repeat; padding-left:40px;}
#header .gnav li#nav4 a span{background: url(../images/icon-ranking.png) 0 50% no-repeat; padding-left:40px;}
#header .gnav li#nav4 a:hover span,
#header .gnav.nav4 li#nav4 a span{background: url(../images/icon-ranking_w.png) 0 50% no-repeat; padding-left:40px;}

/*-----------------------------------------------------------------
  pulldown
*/
#section-pulldown{display: none; width: 100%; position: absolute; top:180px; z-index: 9999;}
#section-pulldown div{background:rgba(51,51,51,0.8);}
#section-pulldown .inner {width:1000px; margin: 0 auto; padding: 15px 0 0 0; position: relative; background:none; height:120px;}
#section-pulldown .box-pulldown {display: none;}
#section-pulldown .h-pulldown {font-size: 18px; line-height:30px; color: #fff; padding:0 0 10px 40px; margin-bottom:15px; border-bottom:#fff 1px solid;}
#section-pulldown .nav3 .h-pulldown {background: url(../images/icon-category_w.png) 0 0 no-repeat;}
#section-pulldown .nav4 .h-pulldown {background: url(../images/icon-ranking_w.png) 0 0 no-repeat;}
#section-pulldown li {float: left; margin:0 20px 15px 0;}
#section-pulldown li a {font-size: 16px; color: #fff; padding-left: 12px; background: url(../images/icon-ya_r.png) 0 50% no-repeat; text-decoration:none;display: inline-block;}
#section-pulldown li a:hover{opacity: 0.7;}

/*-----------------------------------------------------------------
  footer
*/
#footer {width:100%; background:#333; color: #fff; height:100px;}
#footer .inner{width:1000px; margin: 0 auto; padding:35px 0 0 0; position:relative;}
#footer a {color:#fff;text-decoration: none;}
#footer a:hover {opacity: 1; text-decoration: underline;}
#footer ul {text-align:right;}
#footer ul li{display:inline-block; margin:0 0 10px 10px; font-size:14px;}
#footer p.credit{font-size: 10px; line-height:1; text-align:right; font-family: Verdana;}
#footer p.logo{position: absolute; top: 20px; _top:21px; left: 0px;}

/*-----------------------------------------------------------------
  main
*/
#section-main{background:#eaeaea;}
#section-main .inner{width:1000px; margin: 0 auto;}
#section-mainimage{background: url(../images/img-main-bk.png) 0 0 repeat-x; text-align:center; padding:50px 0;}
#section-main .contents{width:780px; float:left; margin:30px 0;}
#section-main .side{width:190px; float:right; margin:30px 0;}
#section-main .pagetop{text-align:right; display:block; padding-bottom:30px;}
#section-main .pagetop a{}

#section-main .contents h2{background:#333; height:50px; font-size: 18px; line-height:50px; color: #fff; position:relative; margin-bottom:30px;}
#section-main .contents h2 span{background: url(../images/bk-ribon.png) 10px 0 no-repeat; position:absolute; height:60px; padding:0 0 0 10px;}
#section-main .contents h2 span.gold{background: url(../images/bk-ribon-g.png) 10px 0 no-repeat;}
#section-main .contents h2 span.bronze{background: url(../images/bk-ribon-b.png) 10px 0 no-repeat;}
#section-main .contents h2 span.pink{background: url(../images/bk-ribon-p.png) 10px 0 no-repeat;}
#section-main .contents h2 span.h_new:before{ content:"　"; width:48px; background: url(../images/icon-new_w.png) 4px 50% no-repeat; font-size: 18px; line-height:50px; color:#f00; position: relative; top:0; left:0; display:inline-block;}
#section-main .contents h2 span.h_ranking:before{ content:"　"; width:48px; background: url(../images/icon-ranking_w.png) 4px 50% no-repeat; font-size: 18px; line-height:50px; color:#f00; position: relative; top:0; left:0; display:inline-block;}
#section-main .contents h2 span.h_good:before{ content:"　"; width:48px; background: url(../images/icon-good.png) 4px 50% no-repeat; font-size: 18px; line-height:50px; color:#f00; position: relative; top:0; left:0; display:inline-block;}
#section-main .contents h2 span.h_update:before{ content:"　"; width:48px; background: url(../images/icon-update_w.png) 4px 50% no-repeat; font-size: 18px; line-height:50px; color:#f00; position: relative; top:0; left:0; display:inline-block;}
#section-main .contents h2 span.h_category:before{ content:"　"; width:48px; background: url(../images/icon-category_w.png) 4px 50% no-repeat; font-size: 18px; line-height:50px; color:#f00; position: relative; top:0; left:0; display:inline-block;}

#section-main .contents h3{font-size:18px; color:#575757; border-bottom:5px #575757 solid; padding-bottom:5px; margin-bottom:20px; font-weight:normal;}

#section-main .contents .btn-etc,
#section-main .contents .btn-all{margin-bottom:60px;}
#section-main .contents .btn-etc a,
#section-main .contents .btn-all a{width:500px; height:70px; line-height:70px; background:#717171; border-radius:10px; display:block; text-align:center;  text-decoration:none; color:#fff; font-size:18px; margin:0 auto 30px auto;}
#section-main .contents .btn-etc a span,
#section-main .contents .btn-all a span{background: url(../images/icon-ya_wl.png) 0% 50% no-repeat; padding-left:18px;}
#section-main .contents .btn-etc a:hover,
#section-main .contents .btn-all a:hover{opacity: 0.7;}

#section-main .contents .btn-ranking{margin-bottom:0px;}
#section-main .contents .btn-ranking a,
#section-main .contents .btn-ranking a{width:390px; height:60px; line-height:60px; background:#ccc; display:inline-block; text-align:center; text-decoration:none; color:#fff; font-size:18px; margin:0 auto 30px auto;}
#section-main .contents .btn-ranking a span{background: url(../images/icon-ya_wl.png) 0% 45% no-repeat; padding-left:20px;}
#section-main .contents .btn-ranking a:hover,
#section-main .contents .btn-ranking a.active{background:#383838;}
#section-main .contents .btn-ranking a.active span{background: url(../images/icon-ya_wlb.png) 0% 50% no-repeat; padding-left:28px;}

#section-main .contents #section-slider{}
#section-main .contents #section-slider div.image{float:left; width:580px; display:block;}
#section-main .contents #section-slider div.image p img{width:50%;}
#section-main .contents #section-slider div.list{float:right; width:180px; display:block;}
#section-main .contents #section-slider div.list a{text-decoration:none;}
#section-main .contents #section-slider div.list a:hover{opacity: 0.7; display:block;}
#section-main .contents #section-slider div.list span.image{width:180px; height:270px; display:block; position:relative;}
#section-main .contents #section-slider div.list span.title{width:160px; min-height:66px; display:block; background:#ccc; padding:10px; font-size:16px; line-height:1.4; color:#fff;}
#section-main .contents #section-slider div.list span.title .name{font-size:14px;display:block; padding-top:3px;}
#section-main .contents #section-slider div.list ul.category{margin:10px 0 0 0;}
#section-main .contents #section-slider div.list ul.category li{width:85px; margin:0px 10px 10px 0; float:left;}
#section-main .contents #section-slider div.list ul.category li:nth-child(2n){margin-right:0px;}
#section-main .contents #section-slider div.list ul.category li a,
#section-main .contents #section-slider div.list ul.category li span{width:85px; line-height:30px; font-size:12px; display:block; text-align:center; color:#5b5b5b; border-radius:5px;}
#section-main .contents #section-slider div.list ul.category li a{background:#fff;}
#section-main .contents #section-slider div.list ul.category li span{background:#f5f5f5;}

#section-main .contents #section-slider div.image-list{}
#section-main .contents #section-slider div.image-list li{width:120px; margin:20px 12px 30px 0; float:left;}
#section-main .contents #section-slider div.image-list li:nth-child(6){margin-right:0px;}
#section-main .contents #section-slider div.image-list li img{width:120px; box-sizing:border-box;}
#section-main .contents #section-slider div.image-list li img:hover{border:7px rgba(0,0,0,0.5) solid;}
#section-main .contents #section-slider div.image-list li img:hover{opacity:1;}

#section-main .contents .ranking-list{}
#section-main .contents .ranking-list li a{text-decoration:none;}
#section-main .contents .ranking-list li a:hover{opacity: 0.7; display:block;}
#section-main .contents .ranking-list li {float:left; width:140px; margin:0px 20px 0 0;}
#section-main .contents .ranking-list li:nth-child(5n){margin-right:0px;}
#section-main .contents .ranking-list li span.image{width:140px; height:210px; display:block; position:relative;}
#section-main .contents .ranking-list li span.image .rank{width:38px; height:31px; display:block; position:absolute; top:-10px; left:-10px;}
#section-main .contents .ranking-list li span.image .rank.no1{background: url(../images/icon-no_1.png) 0 0 no-repeat;}
#section-main .contents .ranking-list li span.image .rank.no2{background: url(../images/icon-no_2.png) 0 0 no-repeat;}
#section-main .contents .ranking-list li span.image .rank.no3{background: url(../images/icon-no_3.png) 0 0 no-repeat;}
#section-main .contents .ranking-list li span.image .rank.no4{background: url(../images/icon-no_4.png) 0 0 no-repeat;}
#section-main .contents .ranking-list li span.image .rank.no5{background: url(../images/icon-no_5.png) 0 0 no-repeat;}
#section-main .contents .ranking-list li span.image .rank.no6{background: url(../images/icon-no_6.png) 0 0 no-repeat;}
#section-main .contents .ranking-list li span.image .rank.no7{background: url(../images/icon-no_7.png) 0 0 no-repeat;}
#section-main .contents .ranking-list li span.image .rank.no8{background: url(../images/icon-no_8.png) 0 0 no-repeat;}
#section-main .contents .ranking-list li span.image .rank.no9{background: url(../images/icon-no_9.png) 0 0 no-repeat;}
#section-main .contents .ranking-list li span.image .rank.no10{background: url(../images/icon-no_10.png) 0 0 no-repeat;}
#section-main .contents .ranking-list li span.title{width:120px; min-height:66px; display:block; background:#ccc; padding:10px; font-size:12px; line-height:1.4; color:#fff;}
#section-main .contents .ranking-list li span.title .name{font-size:10px;display:block; padding-top:2px;}
#section-main .contents .ranking-list li ul.category{margin:10px 0 20px 0;}
#section-main .contents .ranking-list li ul.category li{width:66px; margin:0px 7px 7px 0;}
#section-main .contents .ranking-list li ul.category li:nth-child(2n){margin-right:0px;}
#section-main .contents .ranking-list li ul.category li a,
#section-main .contents .ranking-list li ul.category li span{width:66px; line-height:24px; font-size:10px; display:block; text-align:center; color:#5b5b5b; border-radius:5px;}
#section-main .contents .ranking-list li ul.category li a{background:#fff;}
#section-main .contents .ranking-list li ul.category li span{background:#f5f5f5;}

#section-main .contents .good-list,
#section-main .contents .update-list,
#section-main .contents .new-list{margin-bottom:10px;}
#section-main .contents .good-list li a,
#section-main .contents .update-list li a,
#section-main .contents .new-list li a{text-decoration:none;}
#section-main .contents .good-list li a:hover,
#section-main .contents .update-list li a:hover,
#section-main .contents .new-list li a:hover{opacity: 0.7; display:block;}
#section-main .contents .good-list li,
#section-main .contents .update-list li,
#section-main .contents .new-list li{float:left; width:180px; margin:0px 20px 0 0;}
#section-main .contents .good-list li:nth-child(4n),
#section-main .contents .update-list li:nth-child(4n),
#section-main .contents .new-list li:nth-child(4n){margin-right:0px;}
#section-main .contents .good-list li span.image,
#section-main .contents .update-list li span.image,
#section-main .contents .new-list li span.image{width:180px; height:270px; display:block; position:relative;}
#section-main .contents .good-list li span.title,
#section-main .contents .update-list li span.title,
#section-main .contents .new-list li span.title{width:160px; min-height:66px; display:block; background:#ccc; padding:10px; font-size:16px; line-height:1.4; color:#fff;}
#section-main .contents .good-list li span.title .name,
#section-main .contents .update-list li span.title .name,
#section-main .contents .new-list li span.title .name{font-size:14px; display:block; padding-top:3px;}
#section-main .contents .good-list li ul.category,
#section-main .contents .update-list li ul.category,
#section-main .contents .new-list li ul.category{margin:10px 0 20px 0;min-height: 80px;}
#section-main .contents .good-list li ul.category li,
#section-main .contents .update-list li ul.category li,
#section-main .contents .new-list li ul.category li{width:85px; margin:0px 10px 10px 0;}
#section-main .contents .good-list li ul.category li:nth-child(2n),
#section-main .contents .update-list li ul.category li:nth-child(2n),
#section-main .contents .new-list li ul.category li:nth-child(2n){margin-right:0px;}
#section-main .contents .good-list li ul.category li a,
#section-main .contents .good-list li ul.category li span,
#section-main .contents .update-list li ul.category li a,
#section-main .contents .update-list li ul.category li span,
#section-main .contents .new-list li ul.category li a,
#section-main .contents .new-list li ul.category li span{width:85px; line-height:30px; font-size:12px; display:block; text-align:center; color:#5b5b5b; border-radius:5px;}
#section-main .contents .good-list li ul.category li a,
#section-main .contents .update-list li ul.category li a,
#section-main .contents .new-list li ul.category li a{background:#fff;}
#section-main .contents .good-list li ul.category li span,
#section-main .contents .update-list li ul.category li span,
#section-main .contents .new-list li ul.category li span{background:#f5f5f5;}

#section-main .contents .category-list{margin-bottom:20px;}
#section-main .contents .category-list li{float:left; margin:0 15px 15px 0; text-align:right;}
#section-main .contents .category-list li:nth-child(3n){margin:0 0 15px 0;}
#section-main .contents .category-list li a{width:250px; height:90px; line-height:90px; display:block;
padding:0px 15px 0px 10px; text-decoration:none; font-size:18px; color:#5b5b5b; background:#fbfbfb; color:#5b5b5b; border:#cecccd 1px solid; box-sizing:border-box;}
#section-main .contents .category-list li a span{width:150px; background: url(../images/icon-ya_gl.png) 100% 50% no-repeat; padding-right:20px;}
#section-main .contents .category-list li a.c_sm{background:url(../images/icon-c_sm.png) 10px 50% no-repeat #fbfbfb; background-size:70px 70px;}
#section-main .contents .category-list li a.c_lesbian{background:url(../images/icon-c_lesbian.png) 10px 50% no-repeat #fbfbfb; background-size:70px 70px;}
#section-main .contents .category-list li a.c_incest{background:url(../images/icon-c_incest.png) 10px 50% no-repeat #fbfbfb; background-size:70px 70px;}
#section-main .contents .category-list li a.c_school{background:url(../images/icon-c_school.png) 10px 50% no-repeat #fbfbfb; background-size:70px 70px;}
#section-main .contents .category-list li a.c_lori{background:url(../images/icon-c_lori.png) 10px 50% no-repeat #fbfbfb; background-size:70px 70px;}
#section-main .contents .category-list li a.c_pedophile{background:url(../images/icon-c_pedophile.png) 10px 50% no-repeat #fbfbfb; background-size:70px 70px;}
#section-main .contents .category-list li a.c_ntr{background:url(../images/icon-c_ntr.png) 10px 50% no-repeat #fbfbfb; background-size:70px 70px;}
#section-main .contents .category-list li a.c_bl{background:url(../images/icon-c_bl.png) 10px 50% no-repeat #fbfbfb; background-size:70px 70px;}
#section-main .contents .category-list li a.c_rape{background:url(../images/icon-c_rape.png) 10px 50% no-repeat #fbfbfb; background-size:70px 70px;}
#section-main .contents .category-list li a.c_big-boobs{background:url(../images/icon-c_big-boobs.png) 10px 50% no-repeat #fbfbfb; background-size:70px 70px;}
#section-main .contents .category-list li a.c_bitch{background:url(../images/icon-c_bitch.png) 10px 50% no-repeat #fbfbfb; background-size:70px 70px;}
#section-main .contents .category-list li a.c_harlem{background:url(../images/icon-c_harlem.png) 10px 50% no-repeat #fbfbfb; background-size:70px 70px;}
#section-main .contents .category-list li a.c_nonimage{background:url(../images/icon-c_nonimage.png) 10px 50% no-repeat #fbfbfb; background-size:70px 70px;}
#section-main .contents .category-list li a:hover{opacity: 0.7;}

/* ページャー */
._pagination_container {margin:30px auto 40px auto; text-align: center; display:block;}
._pagination_container p.count{margin-bottom:10px;}
.pagination > a, .pagination > span {display:inline-block; margin-left: 5px; padding: 0 6px; min-width: 17px; line-height: 27px;  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;  font-size: 14px;  font-weight:bold;  color: #999999;  text-align: center;  text-decoration: none;  border: 1px solid #e5e5e5;  border-radius: 3px;}
.pagination :first-child {margin-left: 0;}
.pagination > a {text-decoration: none;  background-clip: padding-box;  border:1px solid #e5e5e5;  background:#fff;  color:#777777; font-weight:bold;}
.pagination > a:hover,
.pagination > span, .pagination > a:active {background-color:#b0b0b0; border:1px solid #b0b0b0;  color:#fff;}
.pagination .prev, .pagination .next {font-family: Noteworthy, Arial, sans-serif;  font-size: 16px;  color: #fff;  background:#717171; padding:0 20px;}
.pagination span.dot{background:none; border:none;  color:#777;}

#section-main .side #section-pr ul{margin-bottom:20px;}
#section-main .side #section-pr ul li{margin-bottom:10px;}

#section-main .side #section-category h2{background: url(../images/icon-category.png) 0 0 no-repeat; font-size: 18px; line-height:30px; color: #272727; padding:0 0 10px 40px; margin-bottom:10px; border-bottom:#999 3px solid;}
#section-main .side #section-category ul{margin-bottom:20px;}
#section-main .side #section-category ul li{margin-bottom:1px; text-align:right;}
#section-main .side #section-category ul li a{width:177px; height:54px; line-height:54px; display:block;
padding:3px 10px 3px 3px; text-decoration:none; color:#5b5b5b; background:#fbfbfb; color:#5b5b5b;}
#section-main .side #section-category ul li a span{width:100px; background: url(../images/icon-ya_g.png) 100% 50% no-repeat; padding-right:18px;}
#section-main .side #section-category ul li a.c_sm{background:url(../images/icon-c_sm.png) 3px 50% no-repeat #fbfbfb; background-size:50px 50px;}
#section-main .side #section-category ul li a.c_lesbian{background:url(../images/icon-c_lesbian.png) 3px 50% no-repeat #fbfbfb; background-size:50px 50px;}
#section-main .side #section-category ul li a.c_incest{background:url(../images/icon-c_incest.png) 3px 50% no-repeat #fbfbfb; background-size:50px 50px;}
#section-main .side #section-category ul li a.c_school{background:url(../images/icon-c_school.png) 3px 50% no-repeat #fbfbfb; background-size:50px 50px;}
#section-main .side #section-category ul li a.c_lori{background:url(../images/icon-c_lori.png) 3px 50% no-repeat #fbfbfb; background-size:50px 50px;}
#section-main .side #section-category ul li a.c_pedophile{background:url(../images/icon-c_pedophile.png) 3px 50% no-repeat #fbfbfb; background-size:50px 50px;}
#section-main .side #section-category ul li a.c_ntr{background:url(../images/icon-c_ntr.png) 3px 50% no-repeat #fbfbfb; background-size:50px 50px;}
#section-main .side #section-category ul li a.c_bl{background:url(../images/icon-c_bl.png) 3px 50% no-repeat #fbfbfb; background-size:50px 50px;}
#section-main .side #section-category ul li a.c_rape{background:url(../images/icon-c_rape.png) 3px 50% no-repeat #fbfbfb; background-size:50px 50px;}
#section-main .side #section-category ul li a.c_big-boobs{background:url(../images/icon-c_big-boobs.png) 3px 50% no-repeat #fbfbfb; background-size:50px 50px;}
#section-main .side #section-category ul li a.c_bitch{background:url(../images/icon-c_bitch.png) 3px 50% no-repeat #fbfbfb; background-size:50px 50px;}
#section-main .side #section-category ul li a.c_harlem{background:url(../images/icon-c_harlem.png) 3px 50% no-repeat #fbfbfb; background-size:50px 50px;}
#section-main .side #section-category ul li a.c_nonimage{background:url(../images/icon-c_nonimage.png) 3px 50% no-repeat #fbfbfb; background-size:50px 50px;}
#section-main .side #section-category ul li.all a{width:auto; height:auto; line-height:1; background:none; text-align:center; padding:20px 10px 20px 28px;}
#section-main .side #section-category ul li.all a span{background: url(../images/icon-ya_g.png) 0% 50% no-repeat; padding-left:18px;}
#section-main .side a:hover{opacity: 0.7;}

/*-----------------------------------------------------------------
  last.html
*/
body.last #section-main .last-menu{}
body.last #section-main .last-menu h2{font-size:28px; text-align:center; background:none; color:#f748A4; padding:30px 0 50px 0; display:block;}
body.last #section-main .last-menu .btn-last{}
body.last #section-main .last-menu .btn-last a{width:300px; height:60px; line-height:60px; background:#999; display:inline-block; text-align:center; text-decoration:none; margin:0 auto 60px auto; color:#fff;}
body.last #section-main .last-menu .btn-last .prev{margin-right:45px; font-size:18px; background: url(../images/icon-ya_wll.png) #999 20px 50% no-repeat;}
body.last #section-main .last-menu .btn-last .etc{margin-right:45px; font-size:22px; background:#333;}
body.last #section-main .last-menu .btn-last .next{font-size:18px; background: url(../images/icon-ya_wl.png) #999 270px 50% no-repeat;}
body.last #section-main .last-menu .btn-last .prev:hover{background: url(../images/icon-ya_wll.png) #333 20px 50% no-repeat;}
body.last #section-main .last-menu .btn-last .prev.no-hover:hover{background: url(../images/icon-ya_wll.png) #999 20px 50% no-repeat;}
body.last #section-main .last-menu .btn-last .etc:hover{background:#fff; color:#333;}
body.last #section-main .last-menu .btn-last .next:hover{background: url(../images/icon-ya_wl.png) #333 270px 50% no-repeat;}
body.last #section-main .last-menu .btn-last .next.no-hover:hover{background: url(../images/icon-ya_wl.png) #999 270px 50% no-repeat;}

body.last #header{width:100%; height:150px;}
body.last #header .gnav{display:none;}
body.last #section-main .contents{background:#999; padding:50px 110px 30px 110px;}
body.last #section-main .contents h2{font-size:40px; text-align:center; background:none; color:#fff; margin-bottom:20px;}
body.last #section-main .contents .good-list li ul.category li span{background:#ccc;}

/*-----------------------------------------------------------------
  select.html
*/
body.select #header{width:100%; height:150px;}
body.select #header .gnav{display:none;}
body.select #section-main .contents{width:1000px;}

body.select #section-title{background:#999; padding:50px 0;}
body.select #section-title p.image{float:left; width:250px; display:block;}
body.select #section-title div.text{float:right; width:730px; display:block;}
body.select #section-title p.image span.image{width:250px; height:375px; display:block; position:relative;}

body.select #section-title div.text h2{color:#fff; font-size:28px; line-height:1.5; border-bottom:1px #fff solid; padding-bottom:10px; margin-bottom:18px;}
body.select #section-title div.text h2 span{font-size:20px; font-weight:normal;display:block;}
body.select #section-title div.text p{color:#fff; font-size:18px; line-height:1.4;}

body.select #section-title div.text ul.category{border-top:1px #fff solid; padding-top:20px; margin-top:18px;}
body.select #section-title div.text ul.category li{width:85px; margin:0px 10px 10px 0; float:left;}
body.select #section-title div.text ul.category li a,
body.select #section-title div.text ul.category li span{width:85px; line-height:30px; font-size:12px; display:block; text-align:center; color:#5b5b5b; border-radius:5px; text-decoration:none;}
body.select #section-title div.text ul.category li a{background:#fff;}
body.select #section-title div.text ul.category li span{background:#ccc;}
body.select #section-title div.text ul.category li a:hover{opacity: 0.7;}

body.select #section-main .contents .select-list{margin-top:20px;}
body.select #section-main .contents .select-list li a{text-decoration:none;}
body.select #section-main .contents .select-list li a:hover{opacity: 0.7; display:block;}
body.select #section-main .contents .select-list li {float:left; width:184px; margin:0px 20px 10px 0;}
body.select #section-main .contents .select-list li:nth-child(5n){margin-right:0px;}
body.select #section-main .contents .select-list li span.image{width:184px; height:250px; display:block; position:relative;}

body.select #section-main .contents .select-list li span.title{width:184px; min-height:60px; display:block; padding:10px 0; font-size:16px; line-height:1.4; color:#333;}
body.select #section-main .contents .select-list li span.title.new:before{ content:"　"; width:25px; background: url(../images/icon-new_select.png) 0 0 no-repeat; display:inline-block;}
body.select #section-main .contents .select-list li span.title .story{font-size:12px; color:#999; display:block;}

/*-----------------------------------------------------------------
  entrance.html
*/
body.entrance{background:#999;}
body.entrance #section-entrance .enter{width:1000px; height:600px; background: url(../images/entrance.jpg) 0 0 no-repeat; display:block; margin:100px auto 0 auto; padding:0; position:relative;}
body.entrance #section-entrance .enter .btn-yes{ display:block; width:250px; height:68px; position:absolute; top:452px; left:51px;} 
body.entrance #section-entrance .enter .btn-no{ display:block; width:250px; height:68px; position:absolute; top:452px; left:348px;}

.company_title{font-size: 18px;line-height: 30px;color: #272727;padding: 0 0 10px 5px;margin-bottom: 10px;border-bottom: #999 3px solid;}
.company_content{font-size: 16px;line-height: 30px;color: #272727;padding: 0 0 10px 5px;margin-bottom: 10px;}
