.code {margin-top: 0px;}
.close-meerkat {
  position: absolute;
  display: block;
  height: 18px;
  width: 18px;
  background: url('../images/close-x.png') no-repeat 0 0;
  cursor: pointer;
  text-indent: -9000px;
  z-index: 10;
}
.adsense {z-index: 5;}
.meerkat {
  color: #FFF;
  display: none;
}
.meerkat1 {
  color: #FFF;
  display: none;
}
.pos-bot .adsense {
  width: 320px;
  height: 50px;
  position: absolute;
  left: 50%;
  margin-left: -160px;
}
.pos-bot .adsense {top: 0px;}
.pos-bot .close-meerkat {right: 0px; top: 0px;}

