/* html,bodyタグの設定 */
html, body{
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
}
body {
    background: url(../images/bg_manga.png) repeat center top;
}

/* ヘッダーの固定 */
#header
{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #353535;
    z-index:10;
}
#header h1{
    padding:20px;
    float:left;
}
#header h2{
    padding:20px;
    float:left;
    font-size:25px;
    color:#FFF;
    line-height:1.5em;
}

/* フッターの固定 */
footer
{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: #fff;
    text-align: center;
    padding:20px;
    color: #888;
    border-top: solid 1px #ccc;
}
#footer p{
    font-size:14px;
}

div#main_contents{
    position:relative;
    margin:140px auto 0;
    width:1100px;
}

div#main_contents .heart{
    position:absolute;
    z-index:10;
    opacity: 0.8;
    -moz-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}
div#main_contents .small{
    position:absolute;
    top:400px;
    left:250px;
}

div#main_contents .middle{
    position:absolute;
    top:300px;
    left:300px;
}

div#main_contents .big{
    
    top:200px;
    left:400px;
}

div#twitter{
    position:relative;
    width: 500px;
    min-height:420px;
    float:left !important;
}

section#contents {
    position:relative;
    margin-left:40px;
    width: 480px;
    height: 460px;
    padding: 30px 30px;
    background-color: #fff;
    border-radius: 12px;
    float:left;
}
section#contents h2 {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    color: #FA6464;
    line-height:1em;
}
section#contents h3 {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: #444;
    line-height: 1.5em;
    margin-top: 16px;
    background: url(../images/smart.png) no-repeat top center;
    padding-top: 252px;
}
section#contents dl {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #444;
    margin-top: 30px;
}
section#contents dl dd {
    font-size: 24px;
    margin-top: 28px;
}
section#contents dl dd a {
    color: #ff0099;
    background: url(../images/icon_hand.png) no-repeat left center;
    padding: 15px 0 15px 40px;
}
section#contents dl dd a:hover {
    text-decoration: underline;
}
