#new-contents{
    width:100%;
    margin-bottom: 10px;
}

#new-contents{
    width:100%;
    margin-bottom: 10px;
}

.viewport {
    background:#CCC;
    width:100%;
    overflow: hidden;
    margin: 10px auto 0px;
    padding: 2px 0 0;
    min-width: 320px;
    background-color: #fff;
    -webkit-transform: translateZ(0); 
}
.flipsnap {
    width: 10000px!important;
    padding-left: 4%; 
}
.flipsnap:after {
    content: '';
    display: block;
    clear: both;
    height: 0; 
}
.item_group{
    float: left;
    margin: 0 6px;
}
.item {
    position: relative;
    width: 120px;
    height: 225px;
    margin:0px;
    padding: 0px;
    background-color: #353535;
}
.item a {

    display: table-cell;
    color:#FFF;
}
.item img{
    padding-top:5px;
    width: 120px;
    vertical-align: top;
    background:#FFF;
}
.item dl {
    width: 120px;
    background-color: #353535;
}
.item dl, .item dd {
    color:#FFF;
    overflow: hidden;
    line-height: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis; /* Safari */
    -o-text-overflow: ellipsis; /* Opera */
}
.item dt {
    padding:8px 8px 0;
    font-size: 13px;
    font-weight: bold;
}
.item dd{
    font-size: 11px;
    padding:6px 8px 0;
}
.pointer {
    margin-top:10px;
    text-align: center;
}
.pointer span {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    border: 1px solid #000;
}
.pointer span.current {
    background: #FC0;
}

ul.category {
    width:120px;
    height: 44px;
    overflow: hidden;
}
ul.category li {
    display: block;
    margin: 4px 0 0;
    font-size: 0;
    line-height: 0;
    width: 60px;
    float:left;
}
ul.category a {
    margin:0 1px;
    display: block;
    background-color: #FA6464;
    line-height: 100%;
    border-radius: 3px;
    padding:3px 4px;
    text-align: center;
    color: #fff;
    font-size: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis; /* Safari */
    -o-text-overflow: ellipsis; /* Opera */
}

img.lankLabel {
    width: 28px;
    height: 30px;
    position: absolute;
    top: -4px;
    left: 4px;
    background:none;
    border:none;
}


